body {
	background-color: #C3C3E5;
}

/* CSS for header*/
.header {
	background-color: #F1F0FF; 
	color: #443266; 
	position: fixed;
	min-height: 10px;
	width:99%;
	margin: -0.5em 0.1em 1.5em 0.1em;
	z-index: 2
}

.buttonClassOne {
	margin: 0.2em 4% 0.1em 4%;
	float: left;
	width: 16%;
}
/* End of CSS for header*/


/*Apply class inputClassOne to apply this style for div buttons*/
.buttonClassOne {
	text-align: center;
	color: rgb(231,95,93);
	background-color: rgba(255,255,255,0.2);
	font-size: 2.5vw;
  	/*width: 100px;*/
	border-radius: 4px;
	padding-top: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,54,76,0.5);
	cursor: pointer; 
	cursor: hand;
	
	transition: all 0.5s ease-in-out 0.1s;
}

.buttonClassOne:hover {
	background-color: rgba(231,95,93,0.5) ;
	color: white;
	border-color: white
}
/*End of styles for buttonClassOne*/

#homePage {
	min-width: 100%;
	min-height: 100%;
}

.content {
	white-space: pre-line;
	position: absolute;
	margin-top: 5%;
}

.profilePic {
	border-radius: 50%;
	border-width: 1.25em;
	border-style: solid;
	border-color: transparent;
	width: 10.7em;
	height: auto;
	box-shadow: 0 0 0 0.25em rgba(253, 252, 252,1);
}

#pageOne {
	font-size: 1.5em;
	height:90vh;
}

#pageTwo {
	height: 90vh;
}

#pageThree {
	height: 90vh;
}